<h1 class= "text-center">Articles</h1>


<button class="btn-primary">
  <%= link_to "New Article", new_article_path, class: "link-without-style"%>
</button>

<%= link_to new_article_path do%>
  <i class="fas fa-pen-fancy"></i>
<%end %>


<h3 class= "mb-5">Here is the list of your <%=@articles.count %> articles : </h3>

<% @articles.each do |article| %>
  <h6> <%= article.title %></h6>
  <div>
    <a><%= link_to "Read more", article_path(article.id) %></a>
  </div>
  <p>_____________</p>
<% end %>


